<% provide(:title, "Log in") %>
<div class="bs-docs-header" id="content" style="background-color: #878314">
  <div class="container">
    <div class="row">
      <h2 style="font-size: 60px;color:#ffffff;">Login Page</h2>
    </div>
  </div><br/>
</div>

<br/>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% flash.each do |key, value| %>
        <div class="flash <%= key %>" style="color: red"><%= value %></div>
    <% end %>
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
<br/>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
<br/>
        <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
