<p id="notice"><%= notice %></p>

<div class="bs-docs-header" id="content" style="background-color: #878314">
  <div class="container">
    <div class="row">
      <h1 style="font-size: 60px;color:#ffffff;">Developers Home Page</h1>
    </div>
  </div>
</div>

<div class="container bs-docs-container">
<%= render 'layouts/tail'%>
  <h2>Listing Developers</h2>

<table class="table" border="1px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="4">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <td><%= developer.name %></td>
        <td><%= developer.email %></td>
        <td><%= link_to 'Show', developer %></td>
        <td><%= link_to 'Edit', edit_developer_path(developer) %></td>
        <td><%= link_to 'Log Out', logout_path %></td>
        <td><%= button_to 'Destroy', developer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Developer', new_developer_path , class:"btn btn-primary"%>
  <br/><br/>
  <%= render 'layouts/tail'%>
</div>